<template name="browseRelations">
  <div class="row">
    <div class="twelve columns">
      <form data-id="search-users-form">
        <input type="text" class="u-full-width" placeholder="Find relations..." data-id="search-query">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      {{#each relations}}
        <div class="small-profile">
          <img class="avatar-image u-pull-left" src="{{this.avatar}}?s=20" alt="">
          <a href="#" class="u-pull-left">First Last Name</a>
          <div class="u-pull-right">
            Other stuff
          </div>
          <div class="clear"></div>
        </div>
      {{/each}}

      {{#unless relations.length}}
        <div class="alert info">
          <p>There are no matching relations to display.</p>
          <p><a href="{{pathFor 'addRelation'}}"><i class="fa fa-user-plus"></i> Add a new one.</a></p>
        </div>
      {{/unless}}
    </div>
  </div>
</template>
