<template name="profile">
  <div class="row">
    <div class="twelve columns">
      <div class="profile" data-account="{{user.account}}" data-self="{{user.self}}">
        {{#with user}}
          {{#if user.account}} 
            {{> self user}}
          {{/if}}

          {{#if user.relation}} 
            {{> relation user.relation}}
          {{/if}}

          {{#if user.none}}
            <div class="alert info">
              <p>No user or relation available, or this page is private.</p>
            </div>
          {{/if}}
        {{/with}}
      </div>
    </div>
  </div>
</template>
