<template name="profile">
  <div class="row">
    <div class="twelve columns">
      <div class="profile" data-account="{{user.account}}" data-me="{{user.me}}">
        {{#with user}}
          {{#if user.account}}
            {{#if user.me}}
              {{> profileMe user}}
            {{else}}
              {{> profileUser user}}
            {{/if}}
          {{/if}}

          {{#if user.relation}} 
            {{> profileRelation user.relation}}
          {{/if}}

          {{#if user.none}}
            <div class="alert info">
              <p>No user or relation available, or this page is private.</p>
            </div>
          {{/if}}
        {{/with}}
      </div>
    </div>
  </div>
</template>
