<template name="addRelation">
  <div class="row">
    <div class="twelve columns">
      <form data-id="add-relation">
        <div class="row">
          <label for="first-name">First Name*</label>
          <input id="first-name" class="u-full-width" type="text" required data-id="addFirstName">
        </div>
        <div class="row">
          <label for="last-name">Last Name</label>
          <input id="last-name" class="u-full-width" type="text" data-id="addLastName">
        </div>
        <div class="row">
          <label for="last-meeting">When did you meet/chat lastly?</label>
          <input id="last-meeting" class="u-full-width datepicker" type="text" placeholder="Pick date…" data-value="{{date.yesterday}}" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" data-id="addLastMeeting">
          <p><i>Hint: If you can't remember  your last chat (or you're lazy), just leave our suggested default: yesterday. We'll ask you to update this later.</i></p>
        </div>
        <div class="row">
          <label for="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</label>
          <input type="email" class="u-full-width" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" data-id="addEmail">
        </div>
        <div class="row">
          <label for="primary-phone"><i class="fa fa-mobile" aria-hidden="true"></i> Primary Phone </label>
          <input id="primary-phone" class="u-full-width" type="tel" pattern="\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$" data-id="addPhonePrimary">
        </div>
        <div class="row">
          <label for="secondary-phone"><i class="fa fa-mobile" aria-hidden="true"></i> Secondary Phone</label>
          <input id="secondary-phone" class="u-full-width" type="tel" pattern="\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$" data-id="addPhoneSecondary">
        </div>
        <div class="row">
          <label for="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook Profile Link</label>
          <input id="facebook" class="u-full-width" type="url" data-id="addFacebook" placeholder="Start with http:// or https://">
        </div>
        <div class="row">
          <label for="linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn Profile Link</label>
          <input id="linkedin" class="u-full-width" type="url" data-id="addLinkedin" placeholder="Start with http:// or https://">
        </div>
        <div class="row">
          <label for="notes"><i class="fa fa-lock" aria-hidden="true"></i> Private Notes</label>
          <textarea id="notes" class="u-full-width" data-id="addNotes"></textarea>
        </div>

        <div class="row">
          <input type="submit" class="button-primary" value="Add relation (shift + enter)">
        </div>
      </form>
    </div>
  </div>
</template>