<template name="addRelation">
  <div class="row">
    <div class="twelve columns">
      <form data-id="add-relation">
        <div class="row">
          <label for="email">Email*</label>
          <input type="email" class="u-full-width" data-id="addEmail" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" required>
        </div>

        <div class="row">
          <input type="submit" class="button-primary" value="Add relation">
        </div>
      </form>
    </div>
  </div>
</template>