<template name="addRelation">
  <div class="row">
    <div class="twelve columns">
      <form data-id="add-relation">
        <div class="row">
          <label for="email">Email*</label>
          <input type="email" class="u-full-width" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" required data-id="addEmail">
        </div>
        <div class="row">
          <label for="first-name">First Name</label>
          <input id="first-name" class="u-full-width" type="text" data-id="addFirstName">
        </div>
        <div class="row">
          <label for="last-name">Last Name</label>
          <input id="last-name" class="u-full-width" type="text" data-id="addLastName">
        </div>
        <div class="row">
          <label for="last-meeting">When did you meet/chat lastly?</label>
          <input id="last-meeting" class="u-full-width datepicker" type="text" placeholder="Pick date…" data-value="{{date.today}}" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" data-id="addLastMeeting">
          <p><i>Hint: If you can't remember  your last chat (or you're lazy), just leave our suggested default: today. We'll ask you to update this later.</i></p>
        </div>
        <div class="row">
          <label for="notes">Private Notes</label>
          <textarea id="notes" class="u-full-width" data-id="addNotes"></textarea>
        </div>

        <div class="row">
          <input type="submit" class="button-primary" value="Add relation (shift + enter)">
        </div>
      </form>
    </div>
  </div>
</template>