<template name="footer">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <div class="text-center">
            Made with <i class="fa fa-heart"></i> in Germany and San Francisco
          </div>
          <div class="text-center">
            Follow Kevin Weber on <a href="//twitter.com/kevinweber" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
