<template name="header">
  <header class="main-header">
    {{> navigation}}
    <div class="container nav-bar">
      <ul>
        <li>
          <a href="/">BackMyMind (Alpha)</a>
        </li>
        <li class="u-pull-right">
          <button id="nav-toggle"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
        </li>
        <li class="u-pull-right">
          <a href="{{pathFor 'addRelation'}}"><i class="fa fa-user-plus"></i></a>
        </li>
      </ul>
    </div>
  </header>
</template>