<template name="home">
<!--  <div class="row">
    <div class="twelve columns">
      <form class="search-posts-form" data-id="search-posts-form">
        <input type="text" class="u-full-width" placeholder="Search posts..." data-id="search-query">
      </form>
    </div>
  </div>
  <hr>-->
<!-- REINSERT TO FILTER POSTS
  <div class="row">
    <div class="twelve columns">
      <div class="text-center">
        <ul class="home-filter">
          <li><button type="button" class="{{activeIfFilterIs 'all'}}" data-id="all">All</button></li>
          <li><button type="button" class="{{activeIfFilterIs 'following'}}" data-id="following">Following</button></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
-->
<!-- REINSERT TO ENABLE "POST A POST" FEATURE
  <div class="row">
    <div class="twelve columns">
      <form data-id="insert-post-form">
        {{>textareaAutocomplete settings=settings data-id="body" class="u-full-width insert-post-form" rows="1" placeholder="Write something..." }}
        <input type="submit" class="button-primary u-pull-right" value="Submit">
      </form>
    </div>
  </div>
-->
<div class="row">
    <div class="twelve columns">
      {{#each all}}
        <div class="small-profile">
          <img class="avatar-image u-pull-left" src="{{avatar this._id email=this.email}}" alt="">
          <a href="{{pathFor 'profile' _id=this._id}}" class="u-pull-left">{{this.helper.linkName}}</a>
          <p>Last meeting: {{date this.lastMeeting "short"}}</p>
          <div class="u-pull-right">
            Other stuff
          </div>
          <div class="clear"></div>
        </div>
      {{/each}}

      {{#unless all.length}}
        <div class="alert info">
          <p>No matching relations found.</p>
          <p><a href="{{pathFor 'addRelation'}}"><i class="fa fa-user-plus"></i> Add a new one.</a></p>
        </div>
      {{/unless}}
    </div>
  </div>
<!--  <div class="row">
    <div class="twelve columns">
      {{#each posts}}
        {{> post post=this}}
      {{/each}}
      {{#if Template.subscriptionsReady}}
        {{#unless instance.postsCount.get}}
          <div class="alert info">There are no matching posts to display</div>
        {{/unless}}
        {{#if hasMorePosts}}
          <button class="u-full-width" data-id="load-more">Load more</button>
        {{/if}}
      {{else}}
        <div class="text-center">Loading posts...</div>
      {{/if}}
    </div>
  </div>-->
</template>
