<template name="smallProfile">
  <div class="small-profile">
    <a href="{{pathFor 'profile' _id=this.user._id}}">
      <p class="text-center"><img class="avatar-image" src="{{avatar this.user._id 30}}" alt=""></p>
    </a>
    <a href="{{pathFor 'profile' _id=this.user._id}}" class="u-pull-left">@{{this.user.username}}</a>
     <span class="fa {{#if this.user.status.online}} fa-circle presence online {{else}} fa-circle-o presence offline {{/if}}"></span>
    <div class="u-pull-right">
      {{> followButton user=this.user}}
    </div>
    <div class="clear"></div>
  </div>
</template>
